{% extends 'AppCoder/padre.html' %} {% block titulo %} Formulario - Agregar
compra {% endblock %} {% block contenido %}

<section class="features-icons bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {% if formulario_compra.errors %}
        <p>Los datos estan mal, por favor reviselos</p>
        {% endif %}

        <form action="{% url 'compra_formulario' %}" method="POST">
          {% csrf_token %}

          <table>
            {{ formulario_compra.as_table }}
          </table>

          <input type="submit" value"Enviar">
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
