<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultados de búsqueda</title>
  </head>
  <body>
    <p>Buscamos cliente {{ nombre }}</p>
    {% if clientes %}
    <ul>
      {% for cliente in clientes %}
      <li>{{ cliente.nombre }}: {{ cliente.apellido }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
